<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
        integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='feed.css') }}?{{ts}}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js"
        integrity="sha512-rXAHWSMciPq2KsOxTvUeYNBb45apbcEXUVSIexVPOBnKfD/xo99uUe5M2OOsC49hGdUrkRLYsATkQQHMzUo/ew=="
        crossorigin="anonymous"></script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='feed.js') }}?{{ts}}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Bird's Eye View</title>
</head>

<body>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-between sidebar">
            <div class="d-flex" id="shortcut-bar"></div>
            <div class="d-flex flex-column" id="category-bar"></div>
            <div class="d-flex flex-column" id="button-bar">
                <div class="sysbutton" id="theme-button">
                    <span class="material-icons-outlined">
                        lightbulb
                    </span>
                </div>
                <div class="sysbutton" id="help-button">
                    <span class="material-icons-outlined">
                        help_outline
                    </span>
                </div>
                <div class="sysbutton" id="calibrate-button">
                    <span class="material-icons-outlined">
                        settings
                    </span>
                </div>
                <div class="sysbutton logout-icon" id="logout-button">
                    <span class="material-icons-outlined">
                        logout
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center" id="main_container"></div>
        <div class="d-flex" id="button-bar">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="help_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bird's Eye View</h5>
                </div>
                <div class="modal-body">
                    <h6>How To Use</h6>

                    <p>
                        Double click on a message or channel to jump there.
                    </p>

                    <p>
                        Click on the category buttons on the left to toggle the channels on and off.
                    </p>

                </div>
                <div class="modal-footer">

                    <p class="d-flex align-items-center">
                        <span class="material-icons-outlined">
                            lightbulb
                        </span> - Change between themes: Light, Dark, Black
                    </p>

                    <p class="d-flex align-items-center">
                        <span class="material-icons-outlined">
                            help_outline
                        </span> - This message
                    </p>

                    <p class="d-flex align-items-center">
                        <span class="material-icons-outlined">
                            settings
                        </span> - Calibrate your browser to enable jumping
                    </p>

                    <p class="d-flex align-items-center">
                        <span class="logout-icon material-icons-outlined">
                            logout
                        </span> - Log out
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</html>